<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
<header>
    <header>
    <nav class="navbar navbar-expand-lg navbar-danger bg-light">
        <div class="container">
            <h2 class="text-info">User Profile |</h2>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Projects</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="my-2 my-sm-0">
                        <img src="../public/Images/userAvatar.png" width="50" height="50" alt="userAvatar" />
                        <span class="h4">User Name</span>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
</header>
{% block content%} Default Content {%endblock%}

<footer>footer</footer>
</body>
</html>